<nav class="navbar bg-dark">
  <h2><a routerLink="/">Vladislav's Shop</a></h2>
  <ul *ngIf="authService.isAuthenticated(); else login">
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'dashboard']">Dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'add']">Add/Create Products</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'orders']">Orders</a>
    </li>

    <li routerLinkActive="active">
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
  </ul>
  <ng-template #login>
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'login']">Login</a>
      </li>
    </ul>
  </ng-template>
</nav>
<div class="container"><router-outlet></router-outlet></div>
