<form [formGroup]="addProductForm" (ngSubmit)="submit()">
  <h2 class="text-center">Create your Product here</h2>
  <div class="form-control">
    <label for="type">Type:</label>
    <select formControlName="type" name="type">
      <option value="Phone">Phone</option>
      <option value="Tablet">Tablet</option>
      <option value="Laptop">Laptop</option>
      <option value="Monitor">Monitor</option>
      <option value="Watch">Watch</option>
      <option value="Television">Television</option>
      <option value="Accessories">Accessories</option>
      <option value="PC">PC</option>
      <option value="Fridge">Fridge</option>
    </select>
    <div
      class="validation"
      *ngIf="
        addProductForm.get('type')?.touched &&
        addProductForm.get('type')?.invalid
      "
    >
      <small>Chose product type</small>
    </div>
  </div>
  <div class="form-control">
    <label for="title">Title:</label>
    <input type="title" formControlName="title" />
    <div
      class="validation"
      *ngIf="
        addProductForm.get('title')?.touched &&
        addProductForm.get('title')?.invalid
      "
    >
      <small>Write title</small>
    </div>
  </div>
  <div class="form-control">
    <label for="photo">Photo:</label>
    <quill-editor formControlName="photo"></quill-editor>
  </div>

  <div class="form-control">
    <label for="info">Information:</label>
    <quill-editor formControlName="info"></quill-editor>
  </div>
  <div class="form-control">
    <label for="price">Price:</label>
    <input type="price" formControlName="price" />
    <div
      class="validation"
      *ngIf="
        addProductForm.get('price')?.touched &&
        addProductForm.get('price')?.invalid
      "
    >
      <small>Chose product price</small>
    </div>
  </div>
  <div class="form-control">
    <label for="priceDiscont">Discont Price:</label>
    <input type="priceDiscont" formControlName="priceDiscont" />
    <div
      class="validation"
      *ngIf="
        addProductForm.get('priceDiscont')?.touched &&
        addProductForm.get('priceDiscont')?.invalid
      "
    >
      <small>Write price Discont</small>
    </div>
  </div>

  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="addProductForm.invalid || submitted"
  >
    Create
  </button>
</form>
